doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1, minimum-scale=1")
    script(type='text/javascript').
      const userName = '!{viewData.user.userName}';
      const userID = '!{viewData.user.userID}';
      const userEmail = '!{viewData.user.email}';
      const csrfToken = '!{viewData.csrfToken}'
  body(ondragstart="return false;" ondrop="return false;")
    div#main-content(class= 'container body-content')
      div#side-nav  
      script(src= '/dist/layout.js')
      block content
